<!DOCTYPE html>
<html lang="en" style="min-height: 100%">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Sky Systems</title>

        <meta name="viewport" content="width=device-width, initial-scale=1">

        @Styles.Render("~/Content/bootstrapcss.css")
        @Styles.Render("~/Content/Site.css")

        @Scripts.Render("~/bundles/modernizr")
        @Styles.Render("~/Content/themes/base/css")
        
        <link href="~/Content/bootstrap.css" rel="stylesheet">

        @RenderSection("Styles", false)
    </head>

    <body class="velvet-white">
        

        <div class="navbar navbar-default navbar-fixed-top velvet-red" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Sky Systems", "Index", "Home", null, new {@class="navbar-brand"})
                </div>
                
                <div class="navbar-collapse collapse">
                    <form class="navbar-form navbar-right" role="form">
                        <div class="form-group">
                            <input type="text" placeholder="Email" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="password" placeholder="Password" class="form-control">
                        </div>
                        <button type="submit" class="btn btn-success">Sign in</button>
                    </form>
                </div><!--/.navbar-collapse -->

                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li>@Html.ActionLink("Dashboard", "Index", "Home")</li>
                        <li>@Html.ActionLink("Profile", "Index", "User")@*<a href="#">Profile</a>*@</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")@*<a href="#">Contact</a>*@</li>
                        <li>@Html.ActionLink("About", "About", "Home")@*<a href="#">About</a>*@</li>
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="container">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                <div class="jumbotron velvet-red">
                    @RenderBody()
                </div>
            </section>
        </div>
            



        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrapjs")
        
        @RenderSection("scripts", required: false)

    </body>
</html>
